@model BT_QUANLYSINHVIEN.Data.TbGiaovien

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbGiaovien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tengiaovien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tengiaovien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MakhoaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MakhoaNavigation.Makhoa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Magiaovien">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
